apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "node-cicd-poc.fullname" . | trunc 63 | trimSuffix "-" }}
  labels:
    app.kubernetes.io/name: {{ include "node-cicd-poc.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "node-cicd-poc.name" . }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "node-cicd-poc.name" . }}
    spec:
      containers:
        - name: node-app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 3000
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 20
